### API Config
psql_url = "postgres://[psql-user]:[psql-password]@localhost:5432/lndhubx"

influx_host = "http://localhost:8086"
influx_org = "<INFLUX-ORG>"
influx_bucket = "<INFLUX-BUCKET>"
influx_token = "<INFLUX-TOKEN>"

api_zmq_push_address = "tcp://0.0.0.0:5555"
api_zmq_subscribe_address = "tcp://0.0.0.0:5556"

creation_quota = 10
creation_quota_interval_seconds = 3600

### Bank Config
bank_zmq_pull_address = "tcp://0.0.0.0:5555"
bank_zmq_publish_address = "tcp://0.0.0.0:5556"

bank_dealer_pull_address = "tcp://0.0.0.0:5557"
bank_dealer_push_address = "tcp://0.0.0.0:5558"

bank_nostr_pull_address = "tcp://0.0.0.0:5560"
bank_nostr_push_address = "tcp://0.0.0.0:5561"

bank_cli_resp_address = "tcp://127.0.0.1:5559"

deposit_limit = 0.001
withdrawal_only = false

tls_path = "/path/to/tls.cert"
macaroon_path = "/path/to/admin.macaroon"
host = "your.lnd.node.host"
port = 10009

quota_replenishment_interval_millis = 5000
quota_size = 20

### Dealer Config
dealer_bank_push_address = "tcp://0.0.0.0:5557"
dealer_bank_pull_address = "tcp://0.0.0.0:5558"

### Nostr Engine
nostr_bank_push_address = "tcp://0.0.0.0:5560"
nostr_bank_pull_address = "tcp://0.0.0.0:5561"
nostr_private_key = ""
nostr_relays_urls = [
    "wss://relay.nostr.info",
    "wss://nostr-pub.wellorder.net",
    "wss://relay.damus.io",
    "wss://nostr.zebedee.cloud",
    "wss://relay.snort.social",
    "wss://eden.nostr.land",
    "wss://nos.lol",
    "wss://brb.io",
    "wss://relay.current.fyi",
    "wss://nostr.bitcoiner.social",
    "wss://nostr.kollider.xyz"
]
nostr_historical_profile_indexer = false

## The margin users have to keep on their account to account
## for network fees.
ln_network_fee_margin = 0.005
## This is the max amount the bank is willing to pay for a transaction.
## If its the same as `ln_network_fee_margin` then bank will never
## lose money on making external txs			.
ln_network_max_fee = 0.005
## Fee charged on internal txs.
internal_tx_fee = 0.0001
## Fee charged ontop of Ln network fee for external txs.
external_tx_fee = 0
## The minimum of liabilities the bank has to keep.
reserve_ratio = 0.75

kollider_ws_url = "ws://127.0.0.1:8084"
kollider_api_key = "<API-KEY>"
kollider_api_secret = "<API-SECRET>"
kollider_api_passphrase = "<API-PASSPHRASE>"

spread = 0.01
position_min_leverage = 0.9999
position_max_leverage = 1.0001
leverage_check_interval_ms = 1000

reserved_usernames = []

[max_single_order_quantities]
"BTCUSD.PERP" = 200
"BTCEUR.PERP" = 200
"BTCGBP.PERP" = 200

# Risk the dealer is willing to take before hedging.
[risk_tolerances]
USD = 1
EUR = 1
GBP = 1

[deposit_limits]
USD = 5
EUR = 5
BTC = 0.00025
GBP = 5

[withdrawal_request_rate_limiter_settings]
request_limit = 1
replenishment_interval = 5000

[deposit_request_rate_limiter_settings]
request_limit = 1
replenishment_interval = 5000

## Logging
[logging_settings]
log_path = "lndhubx.log"
stdout = true
level = "debug"
name = "lndhubx"
slack_hook = ""
slack_channel = ""

[api_logging_settings]
log_path = "api.log"
stdout = true
level = "debug"
name = "api"
slack_hook = ""
slack_channel = ""

[nostr_engine_logging_settings]
log_path = "nostr_engine.log"
stdout = true
level = "debug"
name = "nostr_engine"
slack_hook = ""
slack_channel = ""

